<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Email Template | Our Lady of Sorrows Academy</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.css"
        integrity="sha256-CNwnGWPO03a1kOlAsGaH5g8P3dFaqFqqGFV/1nkX5OU=" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Contrail+One&display=swap" rel="stylesheet">
    <style>
        .center-cropped {
            object-fit: none;
            object-position: center;
            height: 425px;
            width: 100%;
        }

        .bg-blue {
            background-color: #094A8C;
        }

        .bg-dark-blue {
            background-color: #06325F;
        }

        .bg-red {
            background-color: #b81413;
        }

        .bg-yellow {
            background-color: #FCEE6C;
        }

        a {
            color: #b81413;
            text-decoration: none;
        }

        a:hover {
            color: #b81413;
            text-decoration: underline;
        }

        .center-cropped-md {
            object-fit: fill;
            height: 100%;
        }

        h1,
        h2,
        h3,
        h4 {
            font-family: 'Contrail One', cursive;
        }
    </style>
    <!-- 
    To collect user behavior analytics about your application, 
    insert the following script into each page you want to track.
    Place this code immediately before the closing </head> tag,
    and before any other scripts. Your first data will appear 
    automatically in just a few seconds.
    -->
    <script type="text/javascript">
        var appInsights = window.appInsights || function (a) {
            function b(a) { c[a] = function () { var b = arguments; c.queue.push(function () { c[a].apply(c, b) }) } } var c = { config: a }, d = document, e = window; setTimeout(function () { var b = d.createElement("script"); b.src = a.url || "https://az416426.vo.msecnd.net/scripts/a/ai.0.js", d.getElementsByTagName("script")[0].parentNode.appendChild(b) }); try { c.cookie = d.cookie } catch (a) { } c.queue = []; for (var f = ["Event", "Exception", "Metric", "PageView", "Trace", "Dependency"]; f.length;)b("track" + f.pop()); if (b("setAuthenticatedUserContext"), b("clearAuthenticatedUserContext"), b("startTrackEvent"), b("stopTrackEvent"), b("startTrackPage"), b("stopTrackPage"), b("flush"), !a.disableExceptionTracking) { f = "onerror", b("_" + f); var g = e[f]; e[f] = function (a, b, d, e, h) { var i = g && g(a, b, d, e, h); return !0 !== i && c["_" + f](a, b, d, e, h), i } } return c
        }({
            instrumentationKey: "2beb8a98-f9eb-43bb-b54e-1d1eab3c95e0"
        });

        window.appInsights = appInsights, appInsights.queue && 0 === appInsights.queue.length && appInsights.trackPageView();
    </script>
</head>

<body class="bg-blue">
    <!-- App -->
    <div id="app">
        <header>
            <div class="collapse" id="navbarHeader">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-md-7 py-4">
                        </div>
                        <div class="col-sm-4 offset-md-1 py-4">
                        </div>
                    </div>
                </div>
            </div>
            <div class="navbar navbar-dark box-shadow">
                <div class="container d-flex justify-content-between">
                    <a href="#" class="navbar-brand d-flex align-items-center">
                        <span class="d-md-none"><strong>OLOSA</strong></span>
                        <span class="d-none d-md-block"><strong>Our Lady of Sorrows Academy</strong></span>
                    </a>
                </div>
            </div>
        </header>

        <main role="main">
            <div class="album bg-dark-blue text-white py-5">
                <div class="container" id="search" ref="search">
                    <div class="row">
                        <div class="col-12">
                            <h1 class="text-center pb-5">Email Letter Generator</h1>
                            <p>Please fill out the following form to create a new email letter.</p>
                            <ul>
                                <li>Select <b>Generate</b> to add the form to the email letter template.</li>
                                <li>Select <b>Show to copy</b> to show the final email which can be copied to the clipboard and pasted directly into a new email.</li>
                                <li>Select <b>Reset</b> to reset elements previously deleted to the original template, if needed.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-12">
                            <form>
                                <div class="form-group">
                                    <label for="form-preview">Email preview</label>
                                    <input v-model="preview" type="text" class="form-control" id="form-preview" required
                                        min="30" max="130">
                                    <small id="passwordHelpBlock" class="form-text text-muted">
                                        Appears only on Email client's preview panel.
                                    </small>
                                </div>
                                <div class="form-check">
                                    <input v-model="showHero" type="checkbox" class="form-check-input"
                                        id="form-show-image">
                                    <label class="form-check-label" for="form-show-image">Show main image</label>
                                    <small id="passwordHelpBlock" class="form-text text-muted">
                                        Appears as main image above letter.
                                    </small>
                                </div>
                                <div class="form-group" v-if="showHero">
                                    <label for="form-image">Image URL</label>
                                    <input v-model="image" type="text" class="form-control" id="form-image">
                                </div>
                                <div class="form-group">
                                    <label for="form-title">Email title</label>
                                    <input v-model="title" type="text" class="form-control" id="form-title" required>
                                    <small id="passwordHelpBlock" class="form-text text-muted">
                                        Appears only on Email client's title bar.
                                    </small>
                                </div>
                                <div class="form-group">
                                    <label for="form-header1">Main header</label>
                                    <input v-model="header1" type="text" class="form-control" id="form-header1"
                                        required>
                                    <small id="passwordHelpBlock" class="form-text text-muted">
                                        Appears as main header inside email.
                                    </small>
                                </div>
                                <div class="form-group">
                                    <label for="form-body">Main body</label>
                                    <textarea v-model="body1" class="form-control" id="form-body" rows="10"
                                        required></textarea>
                                    <small id="passwordHelpBlock" class="form-text text-muted">
                                        Appears after main header. Use a single [ENTER] for new paragraphs. Use HTML
                                        formatting codes.
                                    </small>
                                </div>
                                <div class="form-check">
                                    <input v-model="showAction" type="checkbox" class="form-check-input"
                                        id="form-show-action">
                                    <label class="form-check-label" for="form-show-action">Show action button</label>
                                    <small id="passwordHelpBlock" class="form-text text-muted">
                                        Appears after body 1.
                                    </small>
                                </div>
                                <div class="form-group" v-if="showAction">
                                    <label for="form-action-label">Button label</label>
                                    <input v-model="actionLabel" type="text" class="form-control"
                                        id="form-action-label">
                                </div>
                                <div class="form-group" v-if="showAction">
                                    <label for="form-action-url">Button URL</label>
                                    <input v-model="actionUrl" type="text" class="form-control" id="form-action-url">
                                </div>
                                <div class="disabled" v-if="false">
                                    <div class="form-check">
                                        <input v-model="showArticle1Detail" type="checkbox" class="form-check-input"
                                            id="form-show-article1-detail">
                                        <label class="form-check-label" for="form-show-article1-detail">Show article 1
                                            detail</label>
                                    </div>
                                    <div class="form-check">
                                        <input v-model="showArticle2" type="checkbox" class="form-check-input"
                                            id="form-show-image">
                                        <label class="form-check-label" for="form-show-image">Show article 2</label>
                                    </div>
                                    <div class="form-group" v-if="showArticle2">
                                        <label for="form-header2">Header 2</label>
                                        <input v-model="header2" type="text" class="form-control" id="form-header2">
                                    </div>
                                    <div class="form-group" v-if="showArticle2">
                                        <label for="form-body2">Body 2</label>
                                        <textarea v-model="body2" class="form-control" id="form-body"
                                            rows="10"></textarea>
                                    </div>
                                </div>
                                <div class="form-inline">
                                    <button v-on:click.prevent="generate()" type="submit"
                                        class="btn btn-primary form-control mr-3">
                                        <span class="oi oi-check"></span>&nbsp;Generate
                                    </button>
                                    <button v-on:click.prevent="show()" type="submit"
                                        class="btn btn-primary form-control mr-3">
                                        <span class="oi oi-eye"></span>&nbsp;Show to copy
                                    </button>
                                    <a v-on:click.prevent="reset()" class="btn btn-link form-control mr-3">
                                        <span class="oi oi-refresh"></span>&nbsp;Reset
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!--end row-->
                </div>
            </div>
        </main>
        <section>
            <div class="row">
                <div class="col-12">
                    <iframe name="template" src="email/letter.html" width="100%" height="600"></iframe>
                </div>
            </div>
        </section>
        <!-- End App -->
        <footer class="text-muted">
            <div class="container">
                <p class="float-right">
                    <a href="#">Back to top</a>
                </p>
                <p><a href="https://ourladyofsorrows-academy.com/en">Our Lady of Sorrows Academy</a></p>
            </div>
        </footer>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/plugins/TextPlugin.min.js"></script>
    <!-- development version, includes helpful console warnings -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
    <!-- production version, optimized for size and speed -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="email/index.js"></script>
</body>

</html>