<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>2018 Jog-A-Thon | Our Lady of Sorrows Academy</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.css"
        integrity="sha256-CNwnGWPO03a1kOlAsGaH5g8P3dFaqFqqGFV/1nkX5OU=" crossorigin="anonymous" />
    <link rel="stylesheet" href="thermometer.component.css" />
    <style>
        .center-cropped {
            object-fit: none;
            object-position: center;
            height: 299px;
            width: 100%;
        }
        a {
            color: #b81413;
            text-decoration: none;
        }
        a:hover {
            color: #b81413;
            text-decoration: underline;
        }
    </style>
    <!-- 
    To collect user behavior analytics about your application, 
    insert the following script into each page you want to track.
    Place this code immediately before the closing </head> tag,
    and before any other scripts. Your first data will appear 
    automatically in just a few seconds.
    -->
    <script type="text/javascript">
        var appInsights = window.appInsights || function (a) {
            function b(a) { c[a] = function () { var b = arguments; c.queue.push(function () { c[a].apply(c, b) }) } } var c = { config: a }, d = document, e = window; setTimeout(function () { var b = d.createElement("script"); b.src = a.url || "https://az416426.vo.msecnd.net/scripts/a/ai.0.js", d.getElementsByTagName("script")[0].parentNode.appendChild(b) }); try { c.cookie = d.cookie } catch (a) { } c.queue = []; for (var f = ["Event", "Exception", "Metric", "PageView", "Trace", "Dependency"]; f.length;)b("track" + f.pop()); if (b("setAuthenticatedUserContext"), b("clearAuthenticatedUserContext"), b("startTrackEvent"), b("stopTrackEvent"), b("startTrackPage"), b("stopTrackPage"), b("flush"), !a.disableExceptionTracking) { f = "onerror", b("_" + f); var g = e[f]; e[f] = function (a, b, d, e, h) { var i = g && g(a, b, d, e, h); return !0 !== i && c["_" + f](a, b, d, e, h), i } } return c
        }({
            instrumentationKey: "cf979aaf-e12c-4ccc-ba21-8784b5395b62"
        });

        window.appInsights = appInsights, appInsights.queue && 0 === appInsights.queue.length && appInsights.trackPageView();
    </script>
</head>

<body>

    <header>
        <div class="collapse bg-dark" id="navbarHeader">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-md-7 py-4">
                        <p class="text-muted">Thank you for your donation to</p>
                        <h4 class="text-white">Our Lady of Sorrows Academy</h4>
                        <p class="text-muted">
                            Our Lady of Sorrows Academy is holding its Ninth Annual Jog-A-Thon on November 21, 2018,
                            our major fundraiser for this Academic Year. Our goal is to raise $35,000 and we are
                            relying on your generous support and prayers to succeed!
                        </p>
                        <p class="text-muted">
                            All proceeds from this year’s Jog-A-Thon will benefit the Academy, and will be used to
                            fund, among other expenses, replacement of broken and outdated sports equipment, and
                            replacement of broken air conditioning units in several classrooms.
                        </p>
                        <p class="text-muted">

                            In the weeks preceding the day of the Jog-A-Thon, students obtain sponsors to make a per
                            lap pledge or a one-time donation. On the day of the event, participants will have one hour
                            to run, jog, or walk as many times as they can around a one-eighth mile track.
                        </p>
                        <p class="text-muted">

                            Prizes will be awarded for students who run the most number of laps, as well as for
                            students who collect the most amount of money. Additional incentive prizes are awarded
                            throughout the campaign.
                        </p>
                        <p class="text-muted">

                            Please sponsor our students, teachers, and religious! Select the name(s) of who you are
                            graciously sponsoring, then enter the amount of your donation, your contact information and
                            payment information.
                        </p>
                        <p class="text-muted">

                            Thank you for supporting our school!
                        </p>
                        <p class="text-muted small">

                            Our Lady of Sorrows Academy is a K-12 private traditional Catholic school located in
                            Phoenix, Arizona. The Academy is a 501(c)(3) not-for-profit IRS tax exempt entity and
                            donations may be fully tax-deductible according to IRS charitable contributions guidelines.
                            All donations that meet IRS limits will be followed up with a letter of acknowledgement as
                            mandated by the IRS.
                        </p>
                    </div>
                    <div class="col-sm-4 offset-md-1 py-4">
                        <h4 class="text-white">Contact</h4>
                        <ul class="list-unstyled">
                            <li><a href="mailto:office@olosa.org" class="text-white">E-mail: office@olosa.org</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar navbar-dark bg-dark box-shadow">
            <div class="container d-flex justify-content-between">
                <a href="#" class="navbar-brand d-flex align-items-center">
                    <span class="oi oi-dashboard"></span>&nbsp;<strong>OLOSA Fundraising</strong>
                </a>
                <button title="More about donations" class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="oi oi-caret-bottom"></span>
                </button>
            </div>
        </div>
    </header>

    <!-- App -->
    <main id="app" role="main">
        <div class="d-md-none">
            <img src="olosa_fall_2018_mobile.jpg" class="center-cropped" alt="OLOSA Class 2018">
        </div>
        <div class="d-none d-md-block">
            <img src="olosa_fall_2018_med.jpg" class="img-fluid mx-auto" alt="OLOSA Class 2018">
        </div>
        <section class="jumbotron bg-white text-center mb-0">
            <div class="container">
                <img src="OLOSA_logo.png" class="float-md-left" alt="Our Lady of Sorrows Academy logo">
                <h1 class="jumbotron-heading">2018 Jog-A-Thon</h1>
                <h4 class="text-secondary">Our Lady of Sorrows Academy</h4>
                <p class="lead text-muted">
                    Please donate to the <a href="https://ourladyofsorrows-academy.com/en/2018jogathon">2018 Jog-A-Thon</a>
                    by adding the names of students, priests &amp; faculty you
                    want to associate your donation with first. Once you add the names and amount,
                    select the green DONATE payment
                    button to enter your credit card information on the next page.
                </p>
                <cmt-thermometer v-on:click.native="trackEvent('ProgressClick', $event)" v-bind:progress="progress.amount" v-bind:goal="progress.goal"></cmt-thermometer>
                <hr class="my-4">
                <div class="jumbotron-footer">
                    <p class="img-fluid"><img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/cc-badges-ppmcvdam.png"
                            alt="Donate now with PayPal" class="img-fluid" /></p>
                    <p v-if="urls.paypalEmailVerifyHref" class="small">Payments to: {{urls.paypalEmail}} <a v-bind:href="urls.paypalEmailVerifyHref">Verify</a></p>
                </div>
            </div>
        </section>

        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <p>Please fill out the following form to donate. Select DONATE at the bottom of the page. Thank you!</p>
                    </div>
                </div>
                <div class="form-row align-items-center mb-2">
                    <div class="col-12">
                        <label class="sr-only" for="inlineFormInputGroup">Search</label>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><span class="oi oi-magnifying-glass"></span></div>
                            </div>
                            <input v-model="query" type="text" class="form-control" id="inlineFormInputGroup"
                                aria-describedby="searchHelp" placeholder="Search">
                            <div class="input-group-append">
                                <button v-on:click="reset()" type="button" class="btn btn-outline-secondary input-group-text">
                                    <span class="oi oi-x"></span>
                                </button>
                            </div>
                        </div>
                        <small id="searchHelp" class="form-text text-muted">
                            <span class="oi oi-info"></span> To quickly
                            locate a student, type a name or grade. To quickly locate priests or faculty, type
                            'faculty'.
                        </small>
                    </div>
                </div>
                <div class="row">

                    <!--begin card template-->
                    <div v-for="student in studentsFiltered" v-bind:class="{ 'col-lg-4 col-md-6': !student.divide, 'col-12': student.divide }">
                        <div v-if="student.divide">
                            <h6>{{student.grade}}</h6>
                            <hr />
                        </div>
                        <div v-if="!student.divide" class="card mb-4 box-shadow">

                            <img class="card-img-top" v-if="student.image" v-bind:src="student.image" :alt="fullname(student)">
                            <ul class="list-group list-group-flush">
                                <li v-bind:class="cardClass(student)" class="list-group-item">{{fullname(student)}}</li>
                            </ul>
                            <div class="card-body">
                                <div v-show="student.selected" class="card-text">
                                    <div class="form-check-inline">
                                        <label class="form-check-label">
                                            <input v-model.number="student.amount" v-bind:name="student.order" type="radio"
                                                class="form-check-input" value="25">$25
                                        </label>
                                    </div>
                                    <div class="form-check-inline">
                                        <label class="form-check-label">
                                            <input v-model.number="student.amount" v-bind:name="student.order" type="radio"
                                                class="form-check-input" value="50">$50
                                        </label>
                                    </div>
                                    <div class="form-check-inline">
                                        <label class="form-check-label">
                                            <input v-model.number="student.amount" v-bind:name="student.order" type="radio"
                                                class="form-check-input" value="100">$100
                                        </label>
                                    </div>
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">$</div>
                                        </div>
                                        <input v-model.number="student.amount" type="number" class="form-control" value=""
                                            min="1" placeholder="Other amount">
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group" :title="(student.selected ? 'Remove ' : 'Add ') + student.firstname + (student.selected ? ' from donation list' : ' to donation list')">
                                        <button v-on:click="select(student)" type="button" class="btn btn-sm btn-outline-secondary">
                                            {{ student.selected ? 'Remove' : 'Add' }}
                                        </button>
                                    </div>
                                    <small v-if="student.selected && !student.amount" class="text-danger">Enter amount</small>
                                    <small v-if="student.selected && student.amount" class="text-info"><a href="#bottom">Skip to bottom</a></small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end card template-->

                </div>
                <!--end row-->

            </div>
        </div>
        <section class="jumbotron bg-white text-center mb-0">
            <div class="container" id="bottom">
                <div v-show="studentList && amountTotal && amountValid && studentListValid">
                    <p v-on:click="donateClick()">
                        <a v-bind:href="url" class="btn btn-lg btn-success my-2">DONATE</a>
                    </p>
                    <p>
                        You are making a one-time donation totaling ${{amountTotal.toLocaleString()}}. The amount
                        will
                        sponsor the following:
                    </p>
                    <p class="lead">{{studentList}}</p>
                </div>
                <div v-show="!studentList || !amountTotal || !amountValid || !studentListValid">
                    <p v-on:click="donateClick()">
                        <a href="" class="btn btn-lg btn-success my-2 disabled">DONATE</a>
                    </p>
                    <p v-if="!studentListValid" class="text-danger">
                        You have added too many names for this form to handle. Please remove one or more to
                        complete.
                        If needed, please contact the office directly to make this donation.
                    </p>
                    <p v-if="isDirty" class="text-danger">
                        The form is not complete. Please add at least one name and amount.
                    </p>
                    <p class="lead">Your selected students list is empty.</p>
                </div>
            </div>
        </section>
    </main>
    <!-- End App -->
    <footer class="text-muted">
        <div class="container">
            <p class="float-right">
                <a href="#">Back to top</a>
            </p>
            <p><a href="https://ourladyofsorrows-academy.com/en">Our Lady of Sorrows Academy</a></p>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/plugins/TextPlugin.min.js"></script>
    <!-- development version, includes helpful console warnings -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
    <!-- production version, optimized for size and speed -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="./urls.js"></script>
    <script src="./students.js"></script>
    <script src="./progress.js"></script>
    <script src="./thermometer.component.js"></script>
    <script src="./index.js"></script>
</body>

</html>