.svgCont {
    width: 100%;
    border: solid 1px #ccc;
    border: none;
    box-sizing: border-box;
    margin: auto;
}
.svgCont div {
    transform: rotate(180deg);
}
.svgCont svg {
    width: 100%;
    height: 100%;
}
.svgCont svg #thermometerLineBody,
.svgCont svg #thermometerLineHead {
    opacity: 0;
    /* set the red line invisible initially */
}
#progressText {
    fill: #ffffff;
}
.st0{
    fill:#E6E7E8;
} 
.st1{
    fill:#b81413;
} 
.st2{
    fill:#fff;
} 
.st3{
    fill:none;
    stroke:#D1D3D4;
    stroke-width:4;
    stroke-miterlimit:10;
}